@font-face {
	font-family: Amble-Bold;
	src: url("./fonts/Amble-Bold.ttf") format("truetype");
}
@font-face {
	font-family: Amble-BoldItalic;
	src: url("./fonts/Amble-BoldItalic.ttf") format("truetype");
}
@font-face {
	font-family: Amble-Italic;
	src: url("./fonts/Amble-Italic.ttf") format("truetype");
}
@font-face {
	font-family: Amble-Light;
	src: url("./fonts/Amble-Light.ttf") format("truetype");
}
@font-face {
	font-family: Amble-LightItalic;
	src: url("./fonts/Amble-LightItalic.ttf") format("truetype");
}
@font-face {
	font-family: Amble-Regular;
	src: url("./fonts/Amble-Regular.ttf") format("truetype");
}
@font-face {
	font-family: Big-John;
	src: url("./fonts/BIG-JOHN.otf") format("opentype");
}
@font-face {
	font-family: Slim-Joe;
	src: url("./fonts/Slim-Joe.otf") format("opentype");
}