@import './fonts.scss';
* {
	padding: 0;
	margin: 0;
}
.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

/*Styles for titles*/
.section-title {
	color: #222;
	font-family: Big-John;
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 145px;
	text-align: center;
	position: relative;
}
.section-title:after {
	content: "";
	position: absolute;
	bottom: -74px;
	left: 50%;
	transform: translateX(-50%);
	width: 85px;
	height: 2px;
	background: #222;
}
/*Styles for main button*/
.main-btn {
	border: 3px solid #fff;
	padding: 35px 70px;
	font-family: Amble-Bold;
	color: #fff;
	font-size: 30px;
	display: inline-block;
	text-decoration: none;
}

.header {
	position: absolute;
	z-index: 999;
	top: 60px;
	left: 50px;
	&__navbar {
		position: relative;
		cursor: pointer;
		width: 30px;
		height: 24px;
		transition: 0.5s left ease; 
	}
	&__navbar_item {
		position: absolute;
		width: 30px;
		height: 4px;
		background: #fff;
	}
	&__navbar_item:nth-child(2) {
		top: 10px;
	}
	&__navbar_item:nth-child(3) {
		top: 20px;
	}
	&__nav {
		padding: 40px;
	}
	&__nav_item {
		list-style: none;
		margin-bottom: 20px;
		transition: all 0.3s linear;
	}
	&__nav_item:hover {
		transform: translateX(20px);
	} 
	&__nav_link {
		font-family: Big-John;
		font-size: 18px;
		text-decoration: none;
		color: #fff;
	}
}

.promo {
	background: url(../../static/promo-overlay.jpg) center top / cover no-repeat;
	padding: 315px 0 390px;
	&__info {
		text-align: center;
		padding: 0 250px;
	}
	&__info_title {
		font-family: Big-John;
		color: #fff;
		font-size: 48px;
		text-transform: uppercase;
		margin-bottom: 95px;
		position: relative;
	}
	&__info_title:after {
		content: "";
		position: absolute;
		bottom: -54px;
		left: 50%;
		transform: translateX(-50%);
		width: 85px;
		height: 2px;
		background: #fff;
	}
	&__info_text {
		font-family: Amble-Regular;
		color: #fff;
		font-size: 22px;
		line-height: 30px;
	}
}

.introduction {
	padding: 120px 0;
	&__info {
		padding: 0 200px;
	}
	&__info_text {
		font-family: Amble-Light;
		font-size: 22px;
		line-height: 36px;
		color: #222;
		text-align: center;
	}
}

.creativity {
	background: url(../../static/creativity-bg.jpg) center top / cover no-repeat;
	padding: 200px 0;
	text-align: center;
}

.work {
	padding: 115px 0 80px;
	&__filter_nav {
		display: flex;
		flex-flow: wrap;
		align-items: center;
		justify-content: center;
	}
	&__filter_nav__item {
		color: #222;
		text-transform: uppercase;
		font-family: Amble-Light;
		font-size: 18px;
		list-style: none;
		cursor: pointer;
	}
	&__filter_nav__item:not(:last-child) {
		margin-right: 38px;
	}
	&__filter_nav__item_active {
		font-family: Big-John;
	}
	&__filter_list {
		margin-top: 60px;
		display: flex;
		flex-flow: wrap;
		justify-content: center;
	}
	&__filter_item {
		width: 370px;
		height: 420px;
		margin: 10px;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		transition: transform 1s;
	}
	&__filter_item::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.7);
		opacity: 0;
	}
	&__filter_item:hover {
		outline: 8px solid #000;
		outline-offset: -8px;
	}
	&__filter_item:hover:before, &__filter_item:hover &__filter_item__overlay_block {
		opacity: 1;
	}
	&__filter_item__overlay_block {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		text-align: center;
		opacity: 0;
	}
	&__filter_item__overlay_title {
		font-family: Big-John;
		font-size: 18px;
		margin-bottom: 25px;
		text-transform: uppercase;
		position: relative;
		transition: all 0.3s linear;
	}
	&__filter_item__overlay_title::after {
		content: "";
		position: absolute;
		bottom: -180px;
		left: 50%;
		transform: translateX(-50%);
		width: 48px;
		height: 3px;
		background: #d87843;
		transition: all 0.3s linear;
		opacity: 0;
	}
	&__filter_item:hover &__filter_item__overlay_title::after {
		opacity: 1;
		bottom: -80px;	
	}
	&__filter_item__overlay_text {
		font-family: Amble-Regular;
		font-size: 24px;
	}
	&__filter_list__button {
		background: transparent;
		border: 3px solid #000;
		padding: 15px 90px;
		font-family: Amble-Bold;
		color: #000;
		font-size: 24px;
		display: block;
		text-decoration: none;
		cursor: pointer;
		margin: 75px auto 0 auto;
	}
}

.help {
	background: url(../../static/help-bg.jpg) center top / cover no-repeat;
	padding: 200px 0;
	text-align: center;
}

.clients {
	padding: 115px 0 140px;
	background: #f4f4f4;
	&__list {
		display: flex;
		flex-flow: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	&__item {
		width: 20%;
	}
}

.about {
	padding: 120px 0 80px;
	&__head_info {
		font-family: Amble-Light;
		font-size: 22px;
		color: #222;
		line-height: 36px;
		padding: 0 200px;
		text-align: center;
	}
	&__list {
		margin-top: 70px;
		display: flex;
		justify-content: space-between;
		flex-flow: wrap;
	}
	&__item, &__item_hiring {
		width: 270px;
		height: 360px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
	}
	&__item_hiring {
		border: 1px solid #000;
		padding: 80px 0 58px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__item_hiring__title {
		font-size: 	24px;
		line-height: 36px;
		text-transform: uppercase;
		font-family: Big-John;
		text-align: center;
		position: relative;
		padding: 0 70px;
		margin-bottom: 85px;
	}
	&__item_hiring__title::after {
		content: "";
		position: absolute;
		width: 85px;
		height: 2px;
		background: #000;
		bottom: -45px;
		left: 50%;
		transform: translateX(-50%);
	}
	&__item_hiring__link {
		text-decoration: none;
		color: #222;
		font-family: Amble-Bold;
		font-size: 24px;
		padding: 15px 50px;
		border: 3px solid #000;
		display: inline-block;
	}
	&__item:hover {
		outline: 8px solid #000;
		outline-offset: -8px;
	}
	&__item::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0, 0.5);
		display: none;
	}
	&__item:hover:before {
		display: block;
	}
	&__item_overlay__link {
		position: absolute;
		right: 18px;
		top: 15px;
		transition: 0.3s all ease-in-out;
		transform: translateY(100px);
		opacity: 0;
	}
	&__item:hover &__item_overlay__link {
		opacity: 1;
		transform: translateX(0);
	}
	&__item:hover &__item_overlay__decription {
		opacity: 1;
		transform: translateY(100px);
		transform: translateX(-50%);
	}
	&__item_overlay__key_icon {
		background: url(../../static/link-icon.png);
		width: 32px;
		height: 32px;
		display: block;
	}
	&__item_overlay__decription {
		text-align: center;
		position: absolute;
		bottom: 28px;
		left: 50%;
		transform: translateX(-50%);
		color: #fff;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		transform: translateY(-100px);
	}
	&__item_overlay__title {
		font-size: 	24px;
		font-family: Big-John;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	&__item_overlay__info {
		font-family: Amble-Bold;
		font-size: 18px;
	}
}

.video {
	padding: 200px 0;
	background: url(../../static/video-bg.jpg) center top / cover no-repeat;
	&__show_modal {
		background-image: url(../../static/modal-open-icon.png);
		width: 64px;
		height: 64px;
		display: block;
		cursor: pointer;
		margin: 0 auto;
	}
}

/*styles for modal window*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.modal__video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	height: 500px;
}
.modal-off {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	&__item {
		position: absolute;
		width: 50px;
		height: 4px;
		background: #fff;
	}
	&__item:first-child {
		transform: rotate(45deg);
	}
	&__item:last-child {
		transform: rotate(-45deg);
	}
}
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*end styles for modal window*/

.choose {
	padding: 115px 0 55px;
	&__info {
		text-align: center;
		font-family: Amble-Light;
		font-size: 22px;
		color: #222;
		line-height: 36px;
		padding: 0 200px;
	}
	&__list {
		margin-top: 95px;
	}
	&__slide {
		text-align: center;
		box-sizing: border-box;
		padding: 0 25px; 
	}
	&__slide_img_wrapper {
		margin-bottom: 40px;
	}
	&__slide_sprite {
		background: url(../../static/choose-sprite.png);
		display: block;
		height: 152px;
		margin: 0 auto;
		vertical-align: bottom;
	}
	&__slide_sprite_iphone {
		width: 72px;
	}
	&__slide_sprite_ipad {
		width: 170px;
		background-position: -350px 0;
	}
	&__slide_sprite_macbook {
		width: 230px;
		background-position: -720px 0;
	}
	&__slide_title {
		font-family: Amble-Regular;
		font-size: 24px;
		margin-bottom: 35px;
		color: #222;
	}
	&__slide_info {
		font-family: Amble-Regular;
		font-size: 16px;
		line-height: 30px;
		color: #222;
	}
}
.choose .VueCarousel-dot--active {
	background: #d87843!important;
}
.choose .VueCarousel-dot {
	border: 2px solid #fff!important;
	margin-right: 10px;
	outline: none!important;
	width: 12px!important;
	height: 12px!important;
	padding: 0!important;
	background: #d5d5d5;
}

.quote {
	background: url(../../static/quote-bg.jpg) center top / cover no-repeat;
	padding: 200px 0;
	text-align: center;
}

.connection {
	padding: 115px 0;
	&__info {
		font-family: Amble-Light;
		font-size: 22px;
		line-height: 36px;
		color: #222;
		padding: 0 200px;
		text-align: center;
	}
}

.contact {
	&__list {
		display: flex;
		justify-content: space-between;
		flex-flow: wrap;
	}
	&__item_left {
		width: 40%;
		box-sizing: border-box;
		background: #f2f2f2;
		padding: 115px 100px 115px 350px;
	}
	&__item_left__title {
		font-family: Big-John;
		font-size: 24px;
		color: #222;
	}
	&__item_left__info {
		white-space: pre;
		font-family: Amble-LightItalic;
		font-size: 22px;
		line-height: 40px;
		color: #222;
		margin-top: -10px;
	}
	&__item_left__sprite {
		background: url(../../static/contact-sprite.png);
		height: 25px;
		width: 26px;
		display: inline-block;
	}
	&__item_left__sprite:not(:last-child) {
		margin-right: 20px;
	}
	&__item_left__sprite_twitter {
		width: 26px;
	}
	&__item_left__sprite_facebook {
		background-position: -49px 0;
	}
	&__item_left__sprite_linkedin {
		background-position: -98px 0;
	}
	&__item_left__sprite_vine {
		background-position: -147px 0;
	}
	&__item_left__sprite_be {
		background-position: -194px 0;
	}
	&__item_right {
		width: 60%;
		box-sizing: border-box;
		background: #e4e4e4;
		padding: 100px 300px 120px 100px;
	}
	&__item_right__form {
		display: flex;
		justify-content: space-between;
		flex-flow: wrap;
	}
	&__item_right__form__input_text {
		width: 300px;
		margin-bottom: 90px;
	}
	&__item_right__form__textarea {
		width: 100%;
		height: 21px;
		margin-bottom: 40px;
	}
	&__item_right__form__input_text, &__item_right__form__textarea {
		border: none;
		background: transparent;
		border-bottom: 2px solid #afafaf;
		resize: none;
		padding: 10px 28px;
		outline: none;
		font-family: Amble-Italic;
		font-size: 18px;
		color: #676767;
	}
	&__item_right__form__input_text::-webkit-input-placeholder, &__item_right__form__textarea::-webkit-input-placeholder {
		font-family: Amble-Italic;
		font-size: 18px;
		color: #676767;
	}
	&__item_right__form__submit {
		border: 3px solid #222;
		color: #222;
		font-family: Amble-Bold;
		font-size: 24px;
		padding: 18px 60px;
		background: transparent;
		cursor: pointer;
		margin-left: auto;
	}
}

.footer {
	background: #222;
	padding: 100px 0;
	text-align: center;
	&__image {
		margin-bottom: 55px;
	}
	&__info {
		font-family: Amble-Regular;
		color: #fff;
		font-size: 14px;
	}
	&__info_orange {
		font-family: Amble-Bold;
		color: #d87843;
	}
} 


